<h1>New Booking</h1>

<%= form_with model: @booking do |f| %>
  <%= f.hidden_field :flight_id, value: @flight.id %>
  flight starting at : <%= @flight.start_datetime %> 
  <br>
  flight departure_airport : <%= @flight.departure_airport.code %> 
  <br>
  flight arrival_airport : <%= @flight.arrival_airport.code %>
  <% @booking.passengers.each_with_index do |passenger, index| %>
    <div>
      <h2> <%= "Passenger ##{index + 1}" %> </h2>
      <%= f.fields_for :passengers, passenger do |passenger_form| %>
        <!-- Fields for each passenger -->
        <div>
          <%= passenger_form.label :name %>
          <%= passenger_form.text_field :name %>

          <%= passenger_form.label :email %>
          <%= passenger_form.email_field :email %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= f.submit 'Create Booking' %>
<% end %>

